body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header img {
    width: 100px;
    height: 100px;
}

main {
    padding: 20px;
}

main img {
    width: 100%; /* 画像を親要素の幅に合わせる */
    height: auto; /* 高さを自動調整してアスペクト比を維持 */
    max-width: 600px; /* 最大幅を設定（必要に応じて調整） */
    display: block; /* ブロック要素として表示 */
}

section {
    margin-bottom: 20px;
}

.screenshot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.screenshot img {
    width: 10%; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.screenshot p {
    flex-grow: 1;
}

.appstore img {
    width: 10%; /* Adjust the width as needed */
    height: auto;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

footer a {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .screenshot {
        flex-direction: column;
    }

    .screenshot img {
        width: 30%; /* Full width on smaller screens */
        margin: 0 auto; /* 画像を中央揃え */
        margin-bottom: 10px;
    }
    
    .appstore img {
        width: 50%; /* Adjust the width as needed */
        height: auto;
    }

}
